In [1]:
import pandas as pd 
import numpy as np 
from scipy.stats import norm
import math as m 
import seaborn as sns
import matplotlib.pyplot as plt
import statistics as st

In [68]:
from scipy import stats

In [40]:
headers= ['Fecha','Obs','Medida']
sz= pd.read_csv('exa.csv',names= headers)

In [41]:
med= sz[['Medida']]
med.head()

  Medida
0    NaN
1  0.154
2  0.167
3  0.168
4  0.169

In [54]:
med;

In [53]:
med.drop(47);

In [56]:
med= med.drop([0, 47],axis=0);

In [57]:
med

   Medida
1   0.154
2   0.167
3   0.168
4   0.169
5    0.17
6   0.172
7   0.174
8   0.175
9   0.175
10  0.178
11  0.179
12  0.179
13  0.179
14  0.181
15  0.181
16  0.182
17  0.183
18  0.183
19  0.183
20  0.184
21  0.184
22  0.184
23  0.184
24  0.184
25  0.184
26  0.184
27  0.184
28  0.184
29  0.185
30  0.185
31  0.185
32  0.185
33  0.185
34  0.185
35  0.185
36  0.185
37  0.185
38  0.185
39  0.185
40  0.186
41  0.187
42  0.187
43  0.187
44  0.189
45  0.189
46   0.19

In [69]:
med.describe()

       Medida
count      46
unique     19
top     0.185
freq       11

### Hacemos la tabla de frecs

In [108]:
pd.set_option('precision',6)
datos= med.sort_values('Medida')
bins= [-np.inf,datos,np.inf]
k= 1+3.332*m.log10(len(datos))
numero= int(k)
if numero % 2==0:
    periodos= m.ceil(k)
else:
    periodos= int(k)
    
inf= float(datos.min())   
dif= float(datos.max())
sup= float(datos.max())

interv= pd.interval_range(
    start= inf,
    end= sup,
    periods= k,
    name= 'Intervalo',
    closed= 'left')

df= pd.DataFrame(index= interv)
df['FrecAbs']= df.groupby(med['Medida'].tolist(),as_index=False).size()
df['Marca']= df.index.mid
df

KeyError: '0.154'

In [106]:
df

Empty DataFrame
Columns: []
Index: [[0.154, 0.16), [0.16, 0.166), [0.166, 0.172), [0.172, 0.178), [0.178, 0.184), [0.184, 0.19)]